.App {
  text-align: center;
}

.loadingSpinner {
  height: calc(100vh - 65px);
  background-color: rgba(0, 0, 0, 0.9);
}

.navbar-container {
  height: 65px;
}

.nav-icons svg {
  font-size: 30px;
}

.nav-icons a {
  font-size: 1.2rem;
}

.nav-user-icon {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
}

.nav-user-icon:hover{
  color: white;
  background-color: #0d6efd;
}

.nav-user-icon img {
  width: 50px;
  height: 50px;
  object-fit: cover;
}

.nav-email {
  color: aliceblue;
}

@media (max-width: 600px) {
  .nav-email {
    display: none;
  }
}

@media (max-width: 400px) {
  .nav-btn-home {
    display: none;
  }
}

.profile-pic {
  text-align: left;
  position: relative;
  height: 250px;
}

.profile-default-pic {
  width: 250px;
  height: 250px;
  color: white;
  font-size: 100rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px;
  box-shadow: 3px 3px 15px 1px rgba(0, 0, 0, 0.2);
}

.profile-pic img {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 3px 3px 15px 1px rgba(0, 0, 0, 0.2);
}

#photo-upload-btn {
  position: absolute;
  bottom: 0px;
  right: 10px;
  border-radius: 50%;
  color: lightgray;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 50px;
  cursor: pointer;
  background-color: #212529;
}

#photo-upload-btn:hover {
  background-color: darkgray;
  box-shadow: 5px 5px 5px 5px whitesmoke;
  color: #212529;
}

.edit-btn {
  border-radius: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  width: 60px;
  cursor: pointer;
  border: none;
  font-size: 30px;
}

.edit-btn:hover {
  background-color: darkgrey;
}

@media (max-width: 600px) {
  .profile-default-pic {
    width: 150px;
    height: 150px;
    padding: 25px;
  }

  .profile-pic img {
    width: 150px;
    height: 150px;
  }

  .profile-pic {
    height: 150px;
  }

  #photo-upload-btn {
    right: -10px;
  }
}