.App {
  text-align: center;
  max-width: 100vw;
  min-height: 100vh;
  overflow: clip;
}

.loading-spinner-container {
  height: calc(100vh - 65px);
  background-color: rgba(0, 0, 0, 0.9);
}

.loading-spinner {
  height: 70px;
  width: 70px;
}

.navbar-container {
  height: 65px;
}

.nav-icons svg {
  font-size: 30px;
}

.nav-icons a {
  font-size: 1.2rem;
}

.nav-user-icon {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
}

.nav-user-icon:hover {
  color: white;
  background-color: #0d6efd;
}

.nav-user-icon img {
  width: 50px;
  height: 50px;
  object-fit: cover;
}

.nav-email {
  color: aliceblue;
}

@media (max-width: 600px) {
  .nav-email {
    display: none;
  }
}

@media (max-width: 400px) {
  .nav-btn-home {
    display: none;
  }
}

.profile-pic {
  text-align: left;
  position: relative;
  height: 250px;
}

.order-id {
  min-width: 300px;
}

.order-date {
  min-width: 280px;
}

.profile-default-pic {
  width: 250px;
  height: 250px;
  color: white;
  font-size: 100rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px;
  box-shadow: 3px 3px 15px 1px rgba(0, 0, 0, 0.2);
}

.profile-pic img {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 3px 3px 15px 1px rgba(0, 0, 0, 0.2);
}

#photo-upload-btn {
  position: absolute;
  bottom: 0px;
  right: 10px;
  border-radius: 50%;
  color: lightgray;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 50px;
  cursor: pointer;
  background-color: #212529;
}

#photo-upload-btn:hover {
  background-color: darkgray;
  box-shadow: 5px 5px 5px 5px whitesmoke;
  color: #212529;
}

.edit-btn {
  border-radius: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  width: 60px;
  cursor: pointer;
  border: none;
  font-size: 30px;
}

.edit-btn:hover {
  background-color: darkgrey;
}

.anim-editForm-start {
  max-height: 0px;
  overflow: hidden;
  transition: all 0.5s ease;
  opacity: 0;
}

.anim-editForm-end {
  max-height: 800px;
  overflow: hidden;
  transition: all 0.5s ease;
  opacity: 1;
}

@media (max-width: 600px) {
  .profile-default-pic {
    width: 150px;
    height: 150px;
    padding: 25px;
  }

  .profile-pic img {
    width: 150px;
    height: 150px;
  }

  .profile-pic {
    height: 150px;
  }

  #photo-upload-btn {
    right: -10px;
  }
}

.anim-translateXstart {
  transform: translate(-50vw, 0px);
  opacity: 0;
  transition: all 0.5s ease;
}

.anim-translateXend {
  transform: translate(0px, -0px);
  opacity: 1;
  transition: all 0.5s ease;
}

.anim-expandStart {
  flex-basis: 0px;
  max-width: 0px;
  transition: all 0.5s ease;
  overflow: hidden;
}

.anim-expandEnd {
  flex-basis: 300px;
  max-width: auto;
  overflow: hidden;
  transition: all 10.5s ease;
}

.anim-toggle-cart-start {
  transform: translate(600px, 0px);
  opacity: 1;
  transition: all 0.5s ease;
}

.anim-toggle-cart-end {
  transform: translate(0px, 0px);
  opacity: 1;
  transition: all 0.5s ease;
}

.anim-fade-start {
  opacity: 0;
  transition: opacity 0.5s ease;
}

.anim-fade-end {
  opacity: 1;
  transition: opacity 0.5s ease;
}

.addToCartIcon {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  color: rgb(95, 158, 0);
  font-size: 5rem;
  z-index: 10;
  bottom: 20px;
  left: 40px;
  border: 2px solid rgb(95, 158, 0);
  border-radius: 50%;
  height: 60px;
  width: 60px;
  background-color: rgba(255, 255, 255, 0.301);
}

.anim-addToCartIcon-start {
  opacity: 1;
  bottom: 20px;
  left: 40px;
  transition: all 0.5s ease;
}

.anim-addToCartIcon-end {
  opacity: 0;
  bottom: 150px;
  left: 40px;
  transition: all 0.5s ease;
}

.anim-cartItem-enter {
  -webkit-animation-name: insertItem;
  animation-name: insertItem;
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.anim-cartItem-leaves {
  -webkit-animation-name: insertItem;
  animation-name: insertItem;
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  animation-direction: reverse;
}

.anim-cartItem-initial {
  display: none;
}

@keyframes insertItem {
  0% {
    opacity: 0;
    transform: translateX(500px);
    max-height: 0px;
  }

  50% {
    opacity: 0.5;
    transform: translateX(500px);
    max-height: 200px;
  }

  100% {
    opacity: 1;
    transform: translateX(0px);
    max-height: 200px;
  }
}

.anim-pagination-start {
  opacity: 0;
}

.anim-pagination-end {
  opacity: 1;
  transition: all 1s ease;
}